* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
nav ul {
  list-style: none;
  margin: 20px;
}

nav ul li {
  display: inline;
  padding: 8px;
}

button {
  outline: none;
  border-radius: .2em;
  border: 1px solid #222;
  width: 130px;
  padding: 8px;
  cursor: pointer;
}

li:first-child button {
  background-color: #175b83;
  color: #fff;
}

li:first-child button:hover {
  background-color: #3d84ad;
}
li:nth-child(2) button {
  background-color: green;
  color: #fff;
}

li:nth-child(2) button:hover {
  background-color: #008000a3;
}

li:nth-child(3) button:hover {
  background-color: #8c8c8c;
}

li:nth-child(3) button {
  background-color: #444;
  color: #fff;
}

input[type="checkbox"] {
  margin-left: 5px;
}
.outputs {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
textarea {
  display: inline-block; 
  resize: none;
  padding: 2px;
  font-size: 1.2em;
  height: 39vh;
}

#outputJS {
  background-color: #333;
  color: #fff;
  margin-bottom: 4px;
}

#output {
  background-color: #000;
  color: #2de91c;
  margin-top: 4px;
}