* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
nav ul {
  list-style: none;
  margin: 20px;
}

nav ul li {
  display: inline;
  padding: 8px;
}
.container {
  width: 100%; 
  display: flex;
  justify-content: space-around;
}
button {
  outline: none;
  border-radius: .2em;
  border: 1px solid #222;
  width: 150px;
  padding: 8px;
  cursor: pointer;
  font-size: 1.2rem;
}

li:first-child button {
  background-color: #175b83;
  color: #fff;
}

li:first-child button:hover {
  background-color: #3d84ad;
}
li:nth-child(2) button,
li:nth-child(5) button {
  background-color: green;
  color: #fff;
}

li:nth-child(2) button:hover,
li:nth-child(5) button:hover {
  background-color: #008000a3;
}

li:nth-child(3) button {
  background-color: #444;
  color: #fff;
}

li:nth-child(3) button:hover {
  background-color: #8c8c8c;
}
li:nth-child(7) button {
  background-color: #810202;
  color: #ccc;
}

li:nth-child(7) button:hover {
  background-color: #af5151;
}
input[type="checkbox"] {
  margin-left: 5px;
}
.outputs {
  width: 39%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
textarea {
  display: inline-block; 
  resize: none;
  padding: 2px;
  font-size: 1.2em;
  height: 39vh;
}

#outputJS {
  background-color: #333;
  color: #fff;
  margin-bottom: 4px;
}

#output {
  background-color: #000;
  color: #2de91c;
  margin-top: 4px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 20px;
}