* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
nav ul {
  list-style: none;
  margin: 20px;
}

nav ul li {
  display: inline;
  padding: 8px;
}

button {
  outline: none;
  border-radius: .2em;
  border: 1px solid #222;
  width: 100px;
  padding: 8px;
  cursor: pointer;
}

li:first-child button {
  background-color: green;
  color: #fff;
}

li:last-child button {
  background-color: #444;
  color: #fff;
}

textarea {
  display: inline-block; 
  height: 480px; 
  width: 20%;
  resize: none;
  padding: 2px;
  font-size: 1.2em;
}

#outputJS {
  background-color: #333;
  color: #fff;
}

#output {
  background-color: #000;
  color: #2de91c;
}